.outer {
  height: 170px 
}
.outer_small {
  height: 80px 
}
.outer_krishak {
  height: 250px 
}
.outer_disease {
  height: 320px 
}
.outer_fertilizer {
  height: 240px 
}
.outer_krishak_small {
  height: 60px 
}
